{% load static %}

<html>
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>BRACKETS</title>
        <meta name="description" content="   ">
        <link rel="stylesheet" type="text/css" href="{% static '/mainForm.css' %}" media="all">
</head>

<body>

        <h1 class="title">
                MENU OF THE FORMS
        </h1>

        <div class="items">
                <a href="/jobTitlePage/"> JOB TITLE </a>
                <a href="/Unit/"> UNIT </a>
                <a href="/Employee/"> EMPLOYEE </a>
                <a href="/budjet/"> BUDJET </a>
                <a href="/Ingredients/"> INGREDIENTS </a>
                <a href="/production/"> PRODUCTION </a>
                <a href="/finishedProduct/"> FINISHED PRODUCTS </a>
                <a href="/rawMaterials/"> RAW MATERIALS </a>
                <a href="/saleOfProduct/"> SALE OF THE PRODUCTS </a>
                <a href="/purchaseRawM/"> PURCHASE RAW MATERIALS </a>
                <a href="/salary/2023-04"> SALARY </a>
                <a href="/credit"> BANK OPERATIONS </a>
        </div>


</body>

</html>