{% extends "headerfooter.html" %}{% block hf %}{% load static %}
<h1 class="title">
  RAW MATERIALS
</h1>
<div class="Fstblock">
  <div class="naimenov">
    <p class = "idishka"> № </p>
    <p class ="item"> Name </p>
    <p class ="item"> Unit </p>
    <p class ="item"> Amount </p>
    <p class ="item"> Sum </p>
  </div>
  {% for i in rawMaterials %}
  <form method="post" class="formanyu">
    {% if forloop.counter <= 15 %}
    <div class="textBoxes" id="EmpTextB">
    {% csrf_token %}
      <input class="inp" list="phonesList" type="text" readonly name="model" value="{{forloop.counter}}" />
      <input class="inp" list="phonesList" type="text" readonly name="name" value="{{i.name}}" />
      <input class="inp" list="list08" value="{{i.unit}}" readonly  name ="unit"/>
      <input class="inp" list="phonesList" type="text" name="amount" readonly value="{{i.amount}}" />
      <input class="inp" list="phonesList" type="text" name="sum" readonly value="{{i.sum}}" />
      <input class="inp" list="phonesList" type="text" name="id" style="display: none;" readonly value="{{i.id}}" />
      <div class="formelem">
        <a class = "formelem" href="{% url 'rawMaterialsEdit' i.id %}"> Удалить / Изменить </a>
      </div>
</div>
</form>
{%endif%}
{%endfor%}
<form method="POST">
  <div class="textBoxesPost">
    {% csrf_token %}
    <input class="idshka" list="phonesList" type="text" readonly name="model" value="#" />
    <input class="inp" list="phonesList" type="text" name="name" placeholder="name" />
    <input class="inp" list="list08" placeholder="unit" name ="unit"/>
      <datalist id="list08">
        {% for i in units %}
        <option value="{{i.name}}"> {{i.name}}</option>
        {% endfor %}
      </datalist>
    <input class="inp" list="phonesList" type="text" name="amount" placeholder="amount" />
    <input class="inp" list="phonesList" type="text" name="sum" placeholder="sum" />
    <input class="del" type="submit"  required name="updates" value="Создать" />
  </div>
  </form>
</dim>
  {%endblock%}